<header>
  <div class="container header">
    <div class="header__wrap">
      <div class="header__logo">
        <a class="header__logo-link" href="/">
          <img
            class="header__logo-img"
            src="./images/cropped-new-electrek-logo.png"
            alt="logo"
        /></a>
        <button class="header__logo-arrow">
          <svg class="header__logo-arrow-icon">
            <use
              href="./images/svg/symbol-defs.svg#icon-keyboard_arrow_down"
            ></use>
          </svg>
        </button>
      </div>

      <div class="header__social-wrap">
        <ul class="header__icon-list">
          <li class="header__icon-item">
            <a
              class="header__icon-link"
              href="https://youtube.com/c/electrekco"
            >
              <svg class="header__icon icon">
                <use
                  href="./images/svg/symbol-defs.svg#icon-youtube"
                ></use></svg
            ></a>
          </li>
          <li class="header__icon-item">
            <a
              class="header__icon-link"
              href="https://www.facebook.com/electrekco/"
            >
              <svg class="header__icon icon">
                <use
                  href="./images/svg/symbol-defs.svg#icon-facebook"
                ></use></svg
            ></a>
          </li>
          <li class="header__icon-item">
            <a class="header__icon-link" href="https://twitter.com/electrekco">
              <svg class="header__icon icon">
                <use
                  href="./images/svg/symbol-defs.svg#icon-twitter"
                ></use></svg
            ></a>
          </li>
          <li class="header__icon-item">
            <a
              class="header__icon-link"
              href="https://www.instagram.com/electrek.co/"
            >
              <svg class="header__icon icon">
                <use
                  href="./images/svg/symbol-defs.svg#icon-instagram"
                ></use></svg
            ></a>
          </li>
          <li class="header__icon-item">
            <a
              class="header__icon-link"
              href="https://podcasts.apple.com/us/podcast/electrek/id1320055779"
            >
              <svg class="header__icon icon">
                <use href="./images/svg/symbol-defs.svg#icon-itunes"></use></svg
            ></a>
          </li>
          <li class="header__icon-item">
            <a class="header__icon-link" href="">
              <svg class="header__icon icon">
                <use
                  href="./images/svg/symbol-defs.svg#icon-dots-horizontal-triple"
                ></use></svg
            ></a>
          </li>
        </ul>
        <div class="header__change-wrap message">
          <a class="header__change-link" href="">
            <svg class="header__message-icon icon">
              <use
                href="./images/svg/symbol-defs.svg#icon-message-typing"
              ></use>
            </svg>
          </a>
        </div>
        <div class="header__change-wrap theme">
          <a class="header__change-link" href="">
            <svg class="header__theme-icon icon">
              <use
                href="./images/svg/symbol-defs.svg#icon-brightness-contrast"
              ></use>
            </svg>
          </a>
        </div>
        <div class="header__change-wrap search">
          <a class="header__change-link" href="">
            <svg class="header__search-icon icon">
              <use href="./images/svg/symbol-defs.svg#icon-search"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="">Exclusives</a></li>
        <li class="nav__item"><a class="nav__link" href="">Autos</a></li>
        <li class="nav__item">
          <a class="nav__link" href="">Alt. Transport</a>
        </li>
        <li class="nav__item"><a class="nav__link" href="">Autonomy</a></li>
        <li class="nav__item"><a class="nav__link" href="">Energy</a></li>
        <li class="nav__item"><a class="nav__link" href="">Tesla Shop</a></li>
      </ul>
    </nav>
  </div>
</header>
