<div class="container hero">
  <a class="hero__link" href="">
    <div class="hero__image hero__image-tax"></div>
    <div class="hero__text-wrap">
      <p class="hero__text tax">
        Here are the cars eligible for the $7,500 EV tax credit
      </p>
    </div>
  </a>

  <a class="hero__link" href="">
    <div class="hero__image hero__image-tesla"></div>
    <div class="hero__text-wrap">
      <p class="hero__text tesla">
        Tesla Supercharger membership for non-Tesla EV owners
      </p>
    </div>
  </a>

  <a class="hero__link" href="">
    <div class="hero__image hero__image-scooter"></div>
    <div class="hero__text-wrap">
      <p class="hero__text scooter">
        Fucare HU3 electric scooter review: Why I fell in love
      </p>
    </div>
  </a>

  <a class="hero__link" href="">
    <div class="hero__image hero__image-fuels"></div>
    <div class="hero__text-wrap">
      <p class="hero__text fuels">Here's how states can quit fossil fuels</p>
    </div>
  </a>
</div>
